fastapi==0.115.0
uvicorn==0.32.1
python-multipart==0.0.20
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
passlib==1.7.4
bcrypt==4.2.1
PyJWT[crypto]==2.10.1
python-jose[cryptography]==3.3.0
pdfplumber==0.11.5
qdrant-client==1.12.1
groq==0.14.0
python-dotenv==1.0.1
requests==2.32.3